@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/font.css');

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #202020;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
}